# Neon Auth URL (Better Auth managed endpoint)
VITE_NEON_AUTH_URL="https://ep-small-butterfly-a7sfee50.neonauth.ap-southeast-2.aws.neon.tech/neondb/auth"
VITE_API_BASE_URL="http://localhost:3000/api"
